# K Nearest Neighbors

In [124]:
import pandas as pd
import numpy as np

from sklearn import preprocessing, model_selection, neighbors

# 0. Preparación previa

In [125]:
mainpath = "/Users/irene/Documents/GitHub/python-ml-course/datasets"  #Ruta ficheros
filename = "cancer/breast-cancer-wisconsin.data.txt" #Fichero a abrir
fullpath = mainpath + "/" + filename #Ruta completa

df = pd.read_csv(fullpath, header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [126]:
df.describe() #no falta ningún dato

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [127]:
#cambiando el nombre de las columnas, class es el tipo de cáncer

df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]
df.head()

      name  V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [128]:
#Eliminamos la 1ª columna que identifica el ID del paciente

df = df.drop(["name"],1) #me cargo la columna, no la fila
df.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [129]:
#Hay "?" en el df de X, lo quitamos

df.replace("?", -99999, inplace=True)

In [130]:
Y = df["class"]
X = df[["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]

# 1. Clasificador de los K vecinos 

Entrenamos el algoritmo con la validación cruzada

In [131]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2) #20%

A continuación da error "could not convert string to float: '?'" porque hay interrogantes en el X_train en lugar de números

In [132]:
#clasificador

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

KNeighborsClassifier()

In [133]:
#Probamos la eficacia del modelo con el subconjunto de test

accuracy = clf.score(X_test, Y_test)
accuracy #bastante alta

0.95

# X. Clasificación sin limpieza

Sólo para ilustrar, realizamos el análisis previo sin quitar la columna "Name", para ver cómo afecta al modelo. Efectivamente, la eficacia baja de un 97% a un 65%, para darnos cuenta de la importancia de la limpieza.

In [111]:
mainpath = "/Users/irene/Documents/GitHub/python-ml-course/datasets"  #Ruta ficheros
filename = "cancer/breast-cancer-wisconsin.data.txt" #Fichero a abrir
fullpath = mainpath + "/" + filename #Ruta completa

df = pd.read_csv(fullpath, header=None)
df.replace("?", -99999, inplace=True)
df.columns = ["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "class"]

Y = df["class"]
X = df[["name", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]]

X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=0.2)

clf = neighbors.KNeighborsClassifier()
clf.fit(X_train, Y_train)

accuracy = clf.score(X_test, Y_test)
accuracy

0.6571428571428571

# Clasificar nuevos datos

In [135]:
#Viene un señor a hacerse una prueba y obtiene lo siguiente:

sample_measure = np.array([4,2,1,1,1,2,3,2,1])

sample_measure = sample_measure.reshape(1,-1) #lo tenemos que hacer según el mensaje de error

predict = clf.predict(sample_measure)
predict #Célula venigna

array([2])

In [136]:
#Hacemos dos pruebas para comprobar

sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1], [2,2,4,4,2,2,6,2,4]]).reshape(2,-1)

predict = clf.predict(sample_measure2)
predict

array([2, 2])